body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Tło znajduje się za innymi elementami */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.input-field {
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    width: 250px;
    text-align: center;
}
.rectangle {
    background: linear-gradient(87.79deg, rgba(26, 83, 25, 1) 0%, rgba(60, 155, 59, 1) 100%);
    border-radius: 25px;
    padding: 10px 15px;
    width: 250px;
    border: 1px solid #ccc;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.get-started {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control-file {
    padding: 5px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
}
