{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add Notification</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/add_plant.css' %}">
</head>
<body>
<div class="main-site">

    <img alt="Background image of plants" class="background-image" src="{% static 'images/background1.jpg' %}"/>

    <div class="header">
        <a href="{% url 'main' %}" class="menu-item main-site2">Main site</a>
        <a href="{% url 'add_plant' %}" class="menu-item add-plant">Add Plant</a>
        <a href="{% url 'my_plants' %}" class="menu-item main-plants">My plants</a>
        <a href="{% url 'notifications' %}" class="menu-item notifications">Notifications</a>
        <a href="{% url 'logout' %}" class="menu-item notifications">Logout</a>
    </div>

    <div class="content">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="plant">Plant</label>
                    <select id="plant" name="plant" class="form-control">
                        {% for plant in plants %}
                            <option value="{{ plant.id }}">{{ plant.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="telegram_id">Telegram ID</label>
                    <input type="text" id="telegram_id" name="telegram_id" class="form-control"
                           placeholder="Enter your Telegram ID">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" class="form-control"
                              placeholder="Enter your notification message"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <div class="contact-info">
            <div class="mail">
                <div class="e-mail">E-mail:</div>
                <div class="email-address">artur.czekaj99@gmail.com</div>
            </div>

            <div class="contact">
                <div class="contact-title">Contact:</div>
                <div class="contact-number">+48 987 234 197</div>
            </div>

            <div class="address">
                <div class="our-address">Our address:</div>
                <div class="location">Poland, Warszawa</div>
                <div class="street">Al. Krakowska, 87</div>
            </div>
        </div>

        <div class="directions">
            <a href="{% url 'main' %}" class="menu-item main-site2">Main site</a>
            <a href="{% url 'add_plant' %}" class="menu-item add-plant">Add Plant</a>
            <a href="{% url 'my_plants' %}" class="menu-item main-plants">My plants</a>
            <a href="{% url 'notifications' %}" class="menu-item notifications">Notifications</a>
            <a href="{% url 'logout' %}" class="menu-item notifications">Logout</a>
        </div>
    </div>

</div>

</body>
</html>
